<section class="live-search">

	<div class="ct-container">

		{% if not is_search_page %}
			<button class="close-dynamic-search-button js-close-dynamic-search" aria-label="Close dynamic search">
				<span class="icon-close"></span>
			</button>
		{% endif %}

		<h2 class="search-title">{{ search_strings.search_label }}</h2>

		<form id="search_form_inner" role="search" action="{{ data_nav_bar.home_url }}">
			<!-- Main search field -->
			<div class="form-group search fluid">
				<input id="search_input" type="search" name="s" placeholder="{{ search_strings.start_typing }}" value="{{ search_query|e('wp_kses_post')|raw }}">
				<button class="button primary" type="submit">{{ search_strings.search_label }}</button>
			</div>
		</form>

	</div>
</section>
