{% if (loop.index == 4 or loop.index == 7) %} 
</div>
<div class="news-list">
{% endif %}
<a class="card-update compact" href="{{ post.link }}">
	<div
	class="thumbnail lazy"
	data-bg="url({{ fn('get_the_post_thumbnail_url', recent_post.ID, 'articles-medium-large' ) }})"
	></div>
	<div class="box">
		<div class="meta-box">
			<div>
				<span class="issue {%if (main_issue_slug) %} {{ main_issue_slug }} {% else %} {{ post.categories[0].slug }} {% endif %}">{%if (main_issue_name) %} {{ main_issue_name }} {% else %} {{ post.categories[0]|raw }} {% endif %}</span>
				<span>{{ post.page_types[0].name }}</span>
			</div>
		</div>
		<p>
			{{ post.post_title }}
		</p>
		<div class="meta-box">
			<div>
				<span> <span class="icon-clock"></span> {{ fn( 'get_post_meta', post.ID, 'p4-gpea_post_reading_time', true)|raw }} </span>
				<span>{{ post.post_date|date }}</span>
			</div>
		</div>
	</div>
</a>
