{% extends "base.twig" %}

{% block content %}
	<section class="section-hero-top" style="background-image: url({{ background_image }})">
		<div class="section-hero-shade"></div>
	<div class="ct-container">
		<div class="content">
		<div class="top-bar">
			<a href="" class="back-button">
			<span class="icon-chevron-left"></span>
			</a>
			<a href="#" data-topic='{{ main_issue_id }}' class="js-issue-follow button light">{{ __('Follow', 'gpea-theme') }}</a>
			<a href="#" data-topic='{{ main_issue_id }}' class="js-issue-unfollow not-following button light">{{ __('Following', 'gpea-theme') }}</a>
		</div>
		<div class="hero-issue-title">
			 <h1>{{ post.title|raw }}</h1>
			 <p>{{ custom_body_classes|default("") }}</p>
			 </div>
		</div>
	</div>
	</section>

	{{ post.content|raw }}

	<section class="section-related-tags">
		<div class="ct-container">
			<hr />
			<h2>{{ __('Related to this issue', 'gpea-theme') }}</h2>
			<div class="tags">
				{% for tag in post.tags %}
					<a href="" class="button tag">{{ tag.name|raw}}</a>
				{% endfor %}				
			</div>
		</div>
	</section>
	<section class="section-latest-news">
		<div class="ct-container">
			<h2>{{ __('Related news', 'gpea-theme') }}</h2>
			<div class="news-list">
			{% if ( related_posts ) %}
				{% for related_post in related_posts %}
				{% include "blocks/tease-related-post.twig" with {post:related_post} %}
				{% endfor %}
			{% endif %}
			</div>
		</div>
	</section>

{% endblock %}
