{% block navigation_bar %}
    <header>
	<div class="ct-container">
	    <div class="content">
		<div class="mobile-box">
		    <a href="{{ home_url }}">
			<span class="icon-search"></span>
		    </a>
		</div>
		<div class="left-box">
		    <a href="{{ home_url }}" class="logo" aria-label="Search">
			<span class="icon-greenpeace"></span>
		    </a>
		    {% include 'countries.twig' %}
		</div>
		<div class="center-box">
		    <ul class="menu">
			{% for key,item in navbar_menu.get_items %}
			    <li class="item" class="{{ item == item.current ? 'active' : '' }}">
				<a href="{{ item.get_link }}">
				    <!-- TODO add icon-globe or icon-people under menu CSS classes -->
				    <span class="{{ item.class }}"></span>
				    <p>{{ item.title }}</p>
				</a>
			    </li>
			{% endfor %}
		    </ul>
		</div>
		<div class="right-box">
		    <a href="" class="search-button" aria-label="Search">
			<span class="icon-search"></span>
		    </a>
		    <a href="" class="button">有助于</a>
		</div>
	    </div>
	</div>
    </header>

    <div class="mobile-toolbar">
	<a href="">
	    <p>最新消息</p>
	    <span class="icon-globe"></span>
	</a>
	<a href="">
	    <span class="icon-home"></span>
	</a>
	<a href="">
	    <span class="icon-people"></span>
	    <p>推動改變</p>
	</a>
    </div>
{% endblock %}
