{% block navigation_bar %}
  <header data-aos="slide-down">
    <div class="ct-container">
      <div class="content">
        <div class="mobile-box">
          <a href="{{ home_url }}/?s">
            <span class="icon-search"></span>
          </a>
        </div>
        <div class="left-box">
          <a href="{{ home_url }}" class="logo" aria-label="Greenpeace">
            <span class="logo-greenpeace"></span>
          </a>
          {% include 'countries.twig' %}
        </div>
        <div class="center-box">
          <ul class="menu">
            {% for key,item in navbar_menu.get_items %}
              <li class="item {{ item.class }} {{ item == item.current ? 'active' : '' }}">
                <a
                  href="{{ item.get_link }}">
                  <!-- TODO add icon-globe or icon-people under menu CSS classes -->
                  <span class="item__menu__icon"></span>
                  <p>{{ item.title }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="right-box">
          {% if (post._wp_page_template == 'page-templates/petition.php' or post._wp_page_template == 'page-templates/petition-thankyou.php') %}
            <div class="stepper">
              <div class="step is-checked js-step-sign">{{ strings.sign }}</div>
              <div class="step is-disabled js-step-share">{{ strings.share }}</div>
              <div class="step is-disabled js-step-donate">{{ strings.donate }}</div>
            </div>
          {% else %}
            <a aria-label="Search" class="search-button" href="{{ home_url }}/?s">
              <span class="icon-search"></span>
            </a>
            <a class="button" href="{{ support_link }}">{{ strings.support }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="mobile-toolbar">
    {% for key,item in navbar_menu.get_items %}
      {% if (key) < 2 %}
        <a href="{{ item.get_link }}" class="item {{ item.class }} {{ item == item.current ? 'active' : '' }}">
          <p class="{{ key == 1 ? 'visuallyhidden' : '' }}">{{ item.title }}</p>
          <span class="item__menu__icon"></span>
        </a>
      {% else %}
        <a href="{{ item.get_link }}" class="item {{ item.class }} {{ item == item.current ? 'active' : '' }}">
          <span class="item__menu__icon"></span>
          <p>{{ item.title }}</p>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
