{% block navigation_bar %}
	<header data-aos="slide-down">
		<div class="ct-container">
			<div class="content">
				<div class="mobile-box">
					<a class="js-dynamic-search" href="{{ home_url }}/?s">
						<span class="icon-search"></span>
					</a>
				</div>
				<div class="left-box">
					<a href="{{ home_url }}" class="logo" aria-label="Greenpeace">
						<span class="logo-greenpeace"></span>
					</a>
					{% include 'countries.twig' %}
				</div>
				<div class="center-box">
					<ul class="menu">
						{% for key,item in navbar_menu.get_items %}
							<li class="item {{ item.class }} {{ item == item.current ? 'active' : '' }}">
								<a
									href="{{ item.get_link }}">
									<!-- TODO add icon-globe or icon-people under menu CSS classes -->
									<span class="item__menu__icon"></span>
									<p>{{ item.title }}</p>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="right-box">
					{% if (post._wp_page_template == 'page-templates/petition.php' or post._wp_page_template == 'page-templates/petition-thankyou.php') %}
						<div class="stepper">
							<div class="step is-checked js-step-sign">{{ strings.sign }}</div>
							<div class="step is-disabled js-step-share">{{ strings.share }}</div>
							<div class="step is-disabled js-step-donate">{{ strings.donate }}</div>
						</div>
					{% else %}
						<a aria-label="Search" class="search-button js-dynamic-search" href="{{ home_url }}/?s">
							<span class="icon-search"></span>
						</a>
						<a class="button" href="{{ support_link }}">{{ strings.support }}</a>
					{% endif %}
				</div>
			</div>
	</div>

	<div class="mobile-toolbar">
		{% for key,item in navbar_menu.get_items %}
		{% if (key) < 2 %}
			<a href="{{ item.get_link }}" class="item {{ item.class }} {{ item == item.current ? 'active' : '' }}">
			<p class="{{ key == 1 ? 'visuallyhidden' : '' }}">{{ item.title }}</p>
			<span class="item__menu__icon"></span>
			</a>
		{% else %}
			<a href="{{ item.get_link }}" class="item {{ item.class }} {{ item == item.current ? 'active' : '' }}">
			<span class="item__menu__icon"></span>
			<p>{{ item.title }}</p>
			</a>
		{% endif %}
		{% endfor %}
	</div>
	</header>

	{% if not is_search_page %}
		<div class="dynamic-search">
			{% include 'blocks/section-live-search.twig' %}
		</div>
	{% endif %}

	<!-- as seen in e.g. achievements_list.twig -->
	<script id="template-posts" type="text/template">
		<% posts.forEach(post => {
		// console.log(post);
		%>
		<a href="<%= post.link %>" class="card-update compact">
			<div class="thumbnail" style="background-image: url(<%= post.img_url %>);"></div>
			<div class="box">
				<div class="meta-box">
					<div>
						<span class="issue <%= post.main_issue_slug %>"><%= post.main_issue %></span>
						<span><%= post.news_type %></span>
					</div>
				</div>
				<p>
					<%= post.post_title %>
				</p>
				<div class="meta-box">
					<div>
						<% if (typeof post.reading_time !== 'undefined' && post.reading_time) { %>
						<span>
					<span class="icon-clock"></span>
					<%= post.reading_time %>
				</span>
						<% } %>
						<span><%= post.post_date %></span>
					</div>
				</div>
			</div>
		</a>
		<%
		}); %>
	</script>

	<!-- as seen in e.g. main_issues_carousel.twig -->
	<script id="template-issues" type="text/template">
		<% issues.forEach(issue => {
		// console.log(issue);
		issue.main_issue = issue.name
		%><a href="<%= issue.link %>" class="swiper-slide card-issue">
			<div class="image" style="background-image: url(<%= issue.img_url %>);">
				<h4><%= issue.post_title %></h4>
				<div class="issue <%= issue.main_issue_slug %>"><%= issue.main_issue_slug %></div>
			</div>
		</a>
		<%
		}); %>
	</script>

	<!-- as seen in e.g. tag_cloud.twig -->
	<script id="template-topics" type="text/template">
		<% topics.forEach(topic => {
		// console.log(topic);
		%>
		<a class="button tag" href="{{ home_url }}/?s&f&f[tag]=<%= topic.id %>">
			<%= topic.name %>
		</a>
		<%
		}); %>
	</script>
{% endblock %}
