{% extends "base.twig" %}

{% block html_head_container_extra %}
	{% if (gpea_facebook_app_id) %}
	<script>
		gpeaOptions.showFacebook = 1;
		window.fbAsyncInit = function() {
			FB.init({
			appId      : '{{ gpea_facebook_app_id }}',
			xfbml      : true,
			version    : 'v3.3'
			});
			// FB.AppEvents.logPageView();
		};
	
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/{{ site.language }}/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	{% endif %}

	{% if (extra_cta_link) and (extra_cta_label) %}
	<script>
		gpeaOptions.petition_thanks_link = '{{ extra_cta_link }}';
		gpeaOptions.petition_thanks_label = '{{ extra_cta_label }}';
		gpeaOptions.facebook_label = '{{ facebook_label }}';
	</script>
	{% endif %}
{% endblock %}

{% block content %}
	<span id="petition-source" data-petition="{{ post.id }}">
		<div class="progress-bar">
			<div class="percent" style="width: {{ percentage }}%"></div>
		</div>
		{% if signatures %}<div class="stats">{{ strings.signatures }}</div>{% endif %}
	</span>
	{{ post.content|raw }}
{% endblock %}

{% block extra_content %}
	{% if extra_content %}
		<section class="ct-container petition-extra-content">
			<div class="petition-extra-content__outer">
				{{ extra_content|e('wp_kses_post')|raw }}
			</div>
		</section>
	{% endif %}
{% endblock %}