{% extends "base.twig" %}

{% block content %}
  <section class="section-petition-thankyou">
    <div
      hidden>
      <!-- preload -->
      <img src="{{ theme.link }}/static/images/icons/step-checked.svg" alt=""/>
      <img src="{{ theme.link }}/static/images/icons/step-crossed.svg" alt=""/>
    </div>
    <div class="screens">
      <div class="screen-thankyou js-screen-thankyou ct-container">
        <h2>{{ strings.thank_you_share }}&nbsp;{{ supporter_name }}.</h2>
        <p>{{ strings.donate_headline }}</p>
        <p>
          <button class="button grey js-no-donate">{{ strings.no }}</button>
          <button class="button primary js-yes-donate">{{ strings.yes }}</button>
        </p>
      </div>      
      <div class="section-donate screen-donate js-screen-donate ct-container">
        <div class="content">
          <h2>{{ supporter_name }}&nbsp;{{ strings.urgently_campaigning }}</h2>
          <p>{{ strings.prompt_recurring }}</p>
        </div>
        <div class="donation-form">
            {% if reminder_box %}
            <div class="donation-reminder-box">
              <div class="box">
                <div class="donation-reminder-box--content">
                  <h4>{{ strings.reminder_box_title }}</h4>
                  <h6>{{ strings.reminder_box_description }}</h6>
                  <div class="donation-reminder-box--buttons">
                    <button type="button" class="button js-donation-confirm-oneoff">{{ strings.reminder_box_give_oneoff }}</button>
                    <button type="button" class="button primary js-donation-confirm-regular">{{ strings.reminder_box_give_regular }}</button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <div class="tab-bar">
              <div class="tab-item is-active js-tab-item tab-item__recurring" data-recurring="Y">{{ strings.monthly }}</div>
              <div class="tab-item js-tab-item tab-item__once" data-recurring="N">{{ strings.one_off }}</div>            
          </div>
          <form action="{{ button_landing_url }}" method="POST" class="js-donation-launcher-form js-donation-basic" data-minimum-regular="{{ minimum_regular }}" data-minimum-oneoff="{{ minimum_oneoff }}" data-minimum-single-error="{{ minimum_error_single }}" data-minimum-recurring-error="{{ minimum_error_recurring }}"  data-suggested-regular="{{ suggested_regular }}" data-suggested-oneoff="{{ suggested_oneoff }}">
            <input name="frequency" type="hidden" value="Y"/>
            <input name="currency" type="hidden" value="{{ donation_currency }}"/>
            <div class="form-group">
              <span class="currency">{{ donation_currency }}</span>
              <input aria-label="{{ donation_currency }}" min="1" name="amount" required step="1" type="number"/>
              <input type="hidden" name="en_recurring_question" value="{{ external_recurring_question }}" />
            </div>
            <button class="button primary fluid" type="submit" id="gpea_donation_form_button">{{ strings.donate }}</button>
          </form>
        </div>
        <p>
          <button class="button small js-skip-donate">{{ strings.skip }}</button>
        </p>
      </div>
      <div class="screen-share js-screen-share ct-container">
        <h2>{{ strings.thank_you }}&nbsp;{{ supporter_name }}.</h2>
        <p>{{ strings.wake_people }}</p>
        <p>
          <a class="button fb js-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ source_link }}" rel="noopener noreferrer" target="_blank">{{ strings.share_social_1 }}</a>
          <a class="button primary js-share-email" href="mailto:?subject={{ source_title }}&body={{ source_link }}" rel="noopener noreferrer" target="_blank">{{ strings.share_mail }}</a>
        </p>
        <a class="fake-share-fb js-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ source_link }}" rel="noopener noreferrer" target="_blank">
          <img src="{{ source_thumb }}"/>
          <div class="fake-share-fb-website">
            Greenpeace.org
          </div>
          <div class="fake-share-fb-title">
            {{ source_title }}
          </div>
          <div class="fake-share-fb-description">
            {{ source_description }}
          </div>
        </a>        
      </div>
    </div>
  </section>
{% endblock %}
