{% extends "base.twig" %}

{% block content %}
  <section class="section-petition-thankyou">
    <div
      hidden>
      <!-- preload -->
      <img src="{{ theme.link }}/static/images/icons/step-checked.svg" alt=""/>
      <img src="{{ theme.link }}/static/images/icons/step-crossed.svg" alt=""/>
    </div>
    <div class="screens">
      <div class="screen-thankyou js-screen-thankyou ct-container">
        <h2>Thank you for signing,
          {{ supporter_name }}.</h2>
        <p>
          Now, will you share this petition with your friends? The more people
                                                  			who sign, the more pressure the government will feel.
        </p>
        <p>
          <button class="button grey js-no-share">NO</button>
          <button class="button primary js-yes-share">YES</button>
        </p>
      </div>
      <div class="screen-share js-screen-share ct-container">
        <h2>
          Thank you,
          {{ supporter_name }}.
        </h2>
        <p>
          Let's wake more people up to this crisis
        </p>
        <p>
          <!-- TODO: link petition URL -->
          <a class="button fb js-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ source_link }}" rel="noopener noreferrer" target="_blank">Share on Facebook</a>
          <a class="button primary js-share-email" href="mailto:?subject=[subject...]&body=[body no html ...]" rel="noopener noreferrer" target="_blank">Share by Email</a>
        </p>
        <!-- TODO: link petition URL -->
        <a class="fake-share-fb js-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ source_link }}" rel="noopener noreferrer" target="_blank">
          <img src="{{ source_thumb }}"/>
          <div class="fake-share-fb-website">
            Greenpeace.org
          </div>
          <div class="fake-share-fb-title">
            {{ source_title }}
          </div>
          <div class="fake-share-fb-description">
            {{ source_description }}
          </div>
        </a>
        <p>
          <button class="button small js-skip-share">Skip</button>
        </p>
      </div>
      <div class="screen-donate js-screen-donate ct-container">
        <div class="content">
          <h2>
            {{ supporter_name }}
            - Greenpeace is urgently campaigning to protect our
                                                            			planet.
          </h2>
          <p>
            Our campaigns are 100% funded by individuals like you. Will you
                                                            			join us as a supporter with a regular amount of 400HKD or more a
                                                            			month?
          </p>
        </div>
        <div class="donation-form">
          <div class="tab-bar">
            <div class="tab-item js-tab-item">
              一次性
            </div>
            <div class="tab-item js-tab-item is-active">
              每月一次
            </div>
          </div>
          <form action="#" method="POST">
            <input name="frequency" type="hidden" value="每月一次"/>
            <input name="currency" type="hidden" value="HK$"/>
            <div class="form-group">
              <span class="currency">HK$</span>
              <input aria-label="HK$" min="1" name="amount" required step="1" type="number"/>
            </div>
            <button class="button primary fluid" type="submit">注哪</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
