{% extends "base.twig" %}

{% block content %}
  <section class="section-petition-thankyou">
    <div
      hidden>
      <!-- preload -->
      <img src="{{ theme.link }}/static/images/icons/step-checked.svg" alt=""/>
      <img src="{{ theme.link }}/static/images/icons/step-crossed.svg" alt=""/>
    </div>
    <div class="screens">
      <div class="screen-thankyou js-screen-thankyou ct-container">
        <h2>{{ strings.thank_you_share }}&nbsp;{{ supporter_name }}.</h2>
        <p>{{ strings.share_petition }}</p>
        <p>
          <button class="button grey js-no-share">{{ strings.no }}</button>
          <button class="button primary js-yes-share">{{ strings.yes }}</button>
        </p>
      </div>
      <div class="screen-share js-screen-share ct-container">
        <h2>{{ strings.thank_you }}&nbsp;{{ supporter_name }}.</h2>
        <p>{{ strings.wake_people }}</p>
        <p>
          <!-- TODO: link petition URL -->
          <a class="button fb js-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ source_link }}" rel="noopener noreferrer" target="_blank">{{ strings.share_social_1 }}</a>
          <a class="button primary js-share-email" href="mailto:?subject=[subject...]&body=[body no html ...]" rel="noopener noreferrer" target="_blank">{{ strings.share_mail }}</a>
        </p>
        <!-- TODO: link petition URL -->
        <a class="fake-share-fb js-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ source_link }}" rel="noopener noreferrer" target="_blank">
          <img src="{{ source_thumb }}"/>
          <div class="fake-share-fb-website">
            Greenpeace.org
          </div>
          <div class="fake-share-fb-title">
            {{ source_title }}
          </div>
          <div class="fake-share-fb-description">
            {{ source_description }}
          </div>
        </a>
        <p>
          <button class="button small js-skip-share">{{ strings.skip }}</button>
        </p>
      </div>
      <div class="screen-donate js-screen-donate ct-container">
        <div class="content">
          <h2>{{ supporter_name }}&nbsp;{{ strings.urgently_campaigning }}</h2>
          <p>{{ strings.prompt_recurring }}</p>
        </div>
        <div class="donation-form">
          <div class="tab-bar">
            <div class="tab-item js-tab-item">{{ strings.one_off }}</div>
            <div class="tab-item js-tab-item is-active">{{ strings.monthly }}</div>
          </div>
          <form action="{{ button_landing_url }}" method="POST" class="js-donation-launcher-form">
            <input name="frequency" type="hidden" value="Y"/>
            <input name="currency" type="hidden" value="{{ donation_currency }}"/>
            <div class="form-group">
              <span class="currency">{{ donation_currency }}</span>
              <input aria-label="{{ donation_currency }}" min="1" name="amount" required step="1" type="number"/>
              <input type="hidden" name="en_recurring_question" value="{{ external_recurring_question }}" />
            </div>
            <button class="button primary fluid" type="submit">{{ strings.donate }}</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
