{% extends "base.twig" %}

{% block content %}

	{% set disabled  = posts ? '' : 'disabled' %}
	{% set collapsed = posts ? '' : 'collapsed' %}
	{% set show      = posts ? 'show' : '' %}
	{% set expanded  = posts ? true : false %}

	{% include 'blocks/section-live-search.twig' %}

	<section class="advanced-search">

		<div class="ct-container">

			<h3>{{ search_strings.advanced_search }}</h3>

			<div class="advanced-wrapper">
				<div class="filters">
					<label>{{ search_strings.filters }}</label>
					<div class="filters-selects">
						{% if ( categories|length > 0 ) %}
							<div class="select">
								<select class="filter-search" form="search_form_inner" id="f[cat]" name="f[cat]">
									<option value="0">-- {{ search_strings.any_issue }}  --</option>
									{% for category in categories %}
										<option value="{{ category.term_id }}" {{ category.selected ? 'selected' : '' }}>{{ category.name|e('wp_kses_post')|raw }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
						{% if ( tags|length > 0 ) %}
							<div class="select">
								<select class="filter-search" form="search_form_inner" id="f[tag]" name="f[tag]">
									<option value="0">-- {{ search_strings.any_topic }} --</option>
									{% for tag in tags %}
										<option value="{{ tag.term_id }}" {{ tag.selected ? 'selected' : '' }}>{{ tag.name|e('wp_kses_post')|raw }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
					</div>

					<button class="button small" id="btn_filter_reset">{{ search_strings.reset_filters }}</button>
				</div>

				{#  TODO reimplement sort by logic#}
				{#  <div class="sort-by">#}
				{#    <label for="select_order">{{ search_strings.sort_by }}</label>#}
				{#    <div class="select">#}
				{#      <select class="filter-search" form="search_form_innerg" id="select_order" name="select_order">#}
				{#        {% for key, sort_option in sort_options %}#}
				{#          {% if key == selected_sort %}#}
				{#            <option value="{{ key }}" {{ not search_query and key == '_score' ? 'disabled' : 'selected' }}>{{ sort_option.name }}</option>#}
				{#          {% else %}#}
				{#            <option value="{{ key }}">{{ sort_option.name }}</option>#}
				{#          {% endif %}#}
				{#        {% endfor %}#}
				{#      </select>#}
				{#    </div>#}
				{#  </div>#}

			</div>

			<!-- No posts found? -->
			{% if ( not posts ) %}
				<p class="nothing-found">
					<i>
						<small>{{ exception ?? search_strings.nothing_found }}</small>
					</i>
				</p>
			{% endif %}

			<p class="results-no">
				<b>{{ page_title|e('wp_kses_post')|raw }}</b>
			</p>

			<div class="multiple-search-result">
				{% if ( load_more.async ) %}
					{% set displayed_posts = paged_posts %}
				{% else %}
					{% set displayed_posts = posts %}
				{% endif %}
				<div class="results-list">
					{% for post in displayed_posts %}
						{% include ['tease-search.twig', 'tease-'~post.post_type~'.twig', 'tease-related-post.twig', 'tease.twig'] %}
					{% endfor %}
				</div>
				{% if ( load_more and posts|length > paged_posts|length ) %}
					<div class="has-load-more">
						<button class="button {{ load_more.async ? 'btn-load-more-async' : '' }} btn-load-more-click-scroll" data-current_page="{{ current_page }}" data-total_posts="{{ found_posts }}" data-posts_per_load="{{ load_more.posts_per_load }}">
							{{ load_more.button_text }}
						</button>
					</div>
				{% endif %}
				{% if ( pagination ) %}
					{{ fn( 'the_posts_pagination', pagination ) }}
				{% endif %}
			</div>

			{% if ( suggestions ) %}
				{% for suggestion in suggestions %}
					<p>{{ suggestion }}</p>
				{% endfor %}
			{% endif %}

		</div>
	</section>
{% endblock %}
