{% extends "base.twig" %}

{% block content %}

	{% set disabled  = posts ? '' : 'disabled' %}
	{% set collapsed = posts ? '' : 'collapsed' %}
	{% set show      = posts ? 'show' : '' %}
	{% set expanded  = posts ? true : false %}

	{% include 'blocks/section-live-search.twig' %}

	<section class="advanced-search">

		<div class="ct-container">

			<!-- No posts found? -->
			<p {% if ( posts ) %}hidden{% endif %} class="nothing-found {% if ( posts ) %}fade-out{% endif %}">
				<i>
					<small>{{ exception ?? search_strings.nothing_found }}</small>
				</i>
			</p>

			<p class="results-no">
				<b>{{ page_title|e('wp_kses_post')|raw }}</b>
			</p>

			<div {% if ( not posts ) %}hidden{% endif %} class="multiple-search-result {% if ( not posts ) %}fade-out{% endif %}">
				{% if ( load_more.async ) %}
					{% set displayed_posts = paged_posts %}
				{% else %}
					{% set displayed_posts = posts %}
				{% endif %}
				<div class="results-list">
					{% for post in displayed_posts %}
						{% include ['tease-search.twig', 'tease-'~post.post_type~'.twig', 'tease-related-post.twig', 'tease.twig'] %}
					{% endfor %}
				</div>
				{% if ( load_more and posts|length > paged_posts|length ) %}
					<div class="has-load-more">
						<button class="button {{ load_more.async ? 'btn-load-more-async' : '' }} btn-load-more-click-scroll" data-current_page="{{ current_page }}" data-total_posts="{{ found_posts }}" data-posts_per_load="{{ load_more.posts_per_load }}">
							{{ load_more.button_text }}
						</button>
					</div>
				{% endif %}
			</div>

		</div>
	</section>
{% endblock %}
