{% extends "base.twig" %}

{% block content %}

    {% set disabled  = posts ? '' : 'disabled' %}
    {% set collapsed = posts ? '' : 'collapsed' %}
    {% set show      = posts ? 'show' : '' %}
    {% set expanded  = posts ? true : false %}
    {% set search_label = __( 'Search', 'planet4-child-theme-backend' ) %}

    {{ page_title|e('wp_kses_post')|raw }}</h2>

    <!-- No posts found? -->
    {% if ( not posts ) %}
	{{ exception ?? __( 'Nothing found, sorry.', 'planet4-child-theme-backend' ) }}
    {% endif %}

    <!-- We also included results for: -->
    {% if ( corrected_term ) %}
	{{ corrected_term }}
    {% endif %}

    <form id="search_form_inner" role="search" action="{{ data_nav_bar.home_url }}">
        <!-- Main search field -->
	<input class="search-autocomplete" type="search" name="s" placeholder="{{ search_label }}" value="{{ search_query|e('wp_kses_post')|raw }}">
	<input type="hidden" name="orderby" value="{{ selected_sort ?? default_sort }}" />
	<button type="submit">{{ search_label }}</button><br><br>
    </form>

    <!-- Temporary/debug container for real-time AJAX search results -->
    <!-- See p4ct_search.js for code & integration -->
    <style>
     .tmp-ajax-search,
     .tmp-ajax-search-title {
         float: right;
         clear: right;
     }
    </style>
    <h2 class="tmp-ajax-search-title">AJAX results</h2>
    <p class="tmp-ajax-search"></p>

    <p>Filters</p>
    {% if ( categories|length > 0 ) %}
        <select id="filter_categories" name="filter_categories">
            <option disabled selected value> -- select an option -- </option>
	    {% for category in categories %}
		{% if ( category.results >= 0 ) %}
                    <option value="{{ category.term_id }}">{{ category.name|e('wp_kses_post')|raw }} ({{ category.results }})</option>
		{% endif %}
	    {% endfor %}
        </select>
        <br>
    {% endif %}
    {% if ( page_types|length > 0 ) %}
        <select id="filter_pagetypes" name="filter_pagetypes">
            <option disabled selected value> -- select an option -- </option>
	    {% for page_type in page_types %}
		{% if ( page_type.results >= 0 ) %}
                    <option value="{{ page_type.term_id }}">{{ page_type.name|e('wp_kses_post')|raw }} ({{ page_type.results }})</option>
		{% endif %}
	    {% endfor %}
        </select>
        <br>
    {% endif %}
    {% if ( content_types|length > 0 ) %}
        <select id="filter_content_types" name="filter_content_types">
            <option disabled selected value> -- select an option -- </option>
	    {% for id, content_type in content_types %}
		{% if ( content_type.results >= 0 ) %}
                    <option value="{{ id }}">{{ content_type.name|e('wp_kses_post')|raw }} ({{ content_type.results }})</option>
		{% endif %}
	    {% endfor %}
        </select>
        <br>
    {% endif %}
    {% if ( tags|length > 0 ) %}
        <select id="filter_tags" name="filter_tags">
            <option disabled selected value> -- select an option -- </option>
	    {% for tag in tags %}
                <option value="{{ tag.term_id }}">{{ tag.name|e('wp_kses_post')|raw }} ({{ tag.results }})</option>
	    {% endfor %}
        </select>
        <br>
    {% endif %}

    <br>
    <button>{{ __( 'Cancel', 'planet4-child-theme-backend' ) }}</button>
    <button>{{ __( 'Apply Filters', 'planet4-child-theme-backend' ) }}</button><br>

    <br>
    <label class="mr-sm-2" for="select_order">{{ __('Sort by', 'planet4-child-theme-backend' ) }}</label><br>
    <select id="select_order" name="select_order" class="">
	{% for key, sort_option in sort_options %}
	    {% if key == selected_sort %}
		<option value="{{ key }}" {{ not search_query and key == '_score' ? 'disabled' : 'selected' }}>{{ __( sort_option.name, 'planet4-child-theme-backend' ) }}</option>
	    {% else %}
		<option value="{{ key }}">{{ __( sort_option.name, 'planet4-child-theme-backend' ) }}</option>
	    {% endif %}
	{% endfor %}
    </select>

    {% if ( load_more.async ) %}
	{% set displayed_posts = paged_posts %}
    {% else %}
	{% set displayed_posts = posts %}
    {% endif %}

    <ul>
	{% for post in displayed_posts %}
	    {% include ['tease-search.twig', 'tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
    </ul>

    {% if ( load_more and posts|length > paged_posts|length ) %}
	<button
	    class="btn {{ load_more.async ? 'btn-load-more-async' : '' }}"
		   data-current_page="{{ current_page }}"
		   data-total_posts="{{ found_posts }}"
		   data-posts_per_load="{{ load_more.posts_per_load }}">
	    {{ load_more.button_text }}
	</button>
    {% endif %}

    {% if ( pagination ) %}
	{{ fn( 'the_posts_pagination', pagination ) }}
    {% endif %}

    {% if ( suggestions ) %}
	{% for suggestion in suggestions %}
            <p>{{ suggestion }}</p>
	{% endfor %}
    {% endif %}

    <!-- <pre>{{ dump() }}</pre> -->

{% endblock %}
