{% extends "base.twig" %}

{% block content %}

	{% set disabled  = posts ? '' : 'disabled' %}
	{% set collapsed = posts ? '' : 'collapsed' %}
	{% set show      = posts ? 'show' : '' %}
	{% set expanded  = posts ? true : false %}

	{% include 'blocks/section-live-search.twig' %}

	<section class="advanced-search">

		<div class="ct-container">

			<!-- No posts found? -->
			<p {% if ( posts ) %}hidden{% endif %} class="nothing-found">
				<i>
					<small>{{ exception ?? search_strings.nothing_found }}</small>
				</i>
			</p>

			<p class="results-no">
				<b>{{ page_title|e('wp_kses_post')|raw }}</b>
			</p>

			<div class="multiple-search-result">
				<div {% if ( not posts ) %}hidden{% endif %} class="results-list">
					{% for post in paged_posts %}
						{% include ['tease-search.twig', 'tease-'~post.post_type~'.twig', 'tease-related-post.twig', 'tease.twig'] %}
					{% endfor %}
				</div>
				<div class="has-load-more">
					<button {% if ( not load_more or posts|length <= paged_posts|length ) %}hidden{% endif %} class="button btn-load-more-click-scroll" data-current_page="{{ current_page }}" data-total_posts="{{ found_posts }}" data-posts_per_load="{{ load_more.posts_per_load }}">
						{{ load_more.button_text }}
					</button>
				</div>
			</div>

		</div>
	</section>
{% endblock %}
