{% extends "base.twig" %}

{% block content %}

	<article id="post-{{ post.ID }}" class="{{ post_categories }}">

		<section
			class="section-hero-top"
			style="background-image: url('{{ background_image ? background_image : post.thumbnail.src }}')"
		>
			<div class="section-hero-shade"></div>
			<div class="ct-container">
				<div class="top-bar">
					<a href="{{ latest_link }}" class="back-button">
						<span class="icon-chevron-left"></span>
						<p>返回上一頁</p>
					</a>
					<!-- <a href="" class="button light">按照主題</a> -->
				</div>
			</div>
		</section>

		<section class="section-post-content ct-container">
			<div class="meta-box">
				<div>
					<!-- TODO: agganciare... boh, cos'è questo? -->
					<span>{{ post.page_types[0].name }}</span>
					<!-- TODO: agganciare issue name -->
					<span class="issue {{ main_issue_slug }}">{{ main_issue|raw }}</span>
				</div>
				<div>
					<span><span class="icon-clock"></span> {{ reading_time }} 閱讀</span>
					<span><time class="single-post-time" pubdate>{{ post.post_date|date }}</time></span>
				</div>
			</div>

			<h1>{{ post.title|raw }}</h1>

			<div class="meta-box">
				<span>作者：{{ post.author.name }}</span>
			</div>

			{{ post.content|e('wp_kses_post')|raw }}

		</section>


	</article>


	<section class="section-latest-news">
		<div class="ct-container">
			<h2>最新消息</h2>
			<div class="news-list">
				{% if ( related_posts ) %}
					{% for related_post in related_posts %}
						{% include "blocks/tease-related-post.twig" with {post:related_post} %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>

{% endblock %}
