{% extends "base.twig" %}

{% block content %}

  <article id="post-{{ post.ID }}" class="{{ post_categories }}">

    <section class="section-hero-top" style="background-image: url('{{ background_image ? background_image : post.thumbnail.src }}')">
      <div class="section-hero-shade"></div>
      <div class="ct-container">
        <div class="top-bar">
          <a href="{{ latest_link }}" class="back-button">
            <span class="icon-chevron-left"></span>
            <p>{{ strings.previous_page }}</p>
          </a>
          <!-- <a href="" class="button light">按照主題</a> -->
        </div>
      </div>
    </section>

    <section class="section-post-content ct-container">
      <div class="meta-box">
        <div>
          <span>{{ post.page_types[0].name }}</span>
          <span class="issue {{ main_issue_slug }}">{{ main_issue|raw }}</span>
        </div>
        <div>
          <span>
            <span class="icon-clock"></span>
            {{ reading_time }}
            {{ strings.time_to_read }}
          </span>
          <span>
            <time class="single-post-time" pubdate>{{ post.post_date|date }}</time>
          </span>
        </div>
      </div>

      <h1>{{ post.title|raw }}</h1>

      <div class="meta-box">
        <span>{{ strings.author }} {{ post.author.name }}</span>
      </div>

      {{ post.content|e('wp_kses_post')|raw }}

      {%if (show_article_donation_launcher=='on') %}
        <h2>{{ strings.article_donation_launcher }}</h2>
        <p>{{ strings.intro_donation_launcher }}</p>
        <a href="{{ support_link }}" class="button primary">{{ strings.i_support }}</a>
      {%endif%}

    </section>

  </article>


  <section class="section-latest-news">
    <div class="ct-container">
      <h2>{{ strings.related_news }}</h2>
      <div class="news-list">
        {% if ( related_posts ) %}
          {% for related_post in related_posts %}
            {% include "blocks/tease-related-post.twig" with {post:related_post} %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>

  <div class="floating-share">
    <p>{{ strings.share }}</p>
    <ul>
      <!-- TODO stampa description (SEO?), url, testo cinese/korean per "share on twitter" ecc. -->
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ og_description|e('html_attr')|raw }}&url={{ post.link }}" class="floating-share-icon tw" aria-label="{{ '[Share on Twitter]' }}" target="_blank" rel="noopener noreferrer">
          <span class="icon-twitter"></span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}" class="floating-share-icon fb" aria-label="{{ '[Share on Facebook]' }}" target="_blank" rel="noopener noreferrer">
          <span class="icon-facebook"></span>
        </a>
      </li>
      <li>
        <a href="mailto:?subject={{ og_description|e('html_attr')|raw }}&body={{ post.link }}" class="floating-share-icon email" aria-label="{{ '[Share via e-mail]' }}" target="_blank" rel="noopener noreferrer">
          <span class="icon-email"></span>
        </a>
      </li>
    </ul>
  </div>

{% endblock %}
