{% extends "base.twig" %}

{% block content %}
  {% if (background_image) %}
    <section class="section-hero-top has-hero-submenu has-hero-description" style="background-image: url({{ background_image }})">
	    <div class="background js-parallax-me" data-prlx-from-top="true" style="background-image: url({{ background_image }})"></div>
      <div class="section-hero-shade"></div>
      <div class="top-bar-wrapper-white">
        <div class="ct-container">
          <div class="top-bar">
            <div class="top-bar-title">
              <a class="back-button" href="">
                <span class="icon-close"></span>
              </a>
              <!-- {{ tag.name|raw }} -->
            </div>
          </div>
        </div>
      </div>
      <div class="ct-container anchor-bottom">
        <div class="hero-description">
          <h1>{{ tag.name|raw }}</h1>
        </div>
      </div>
    </section>
  {% endif %}

  {#
    <section class="section-post-content ct-container">
        <h1>{{ tag.name|raw }}</h1>
        {% if tag.description %}
          <div class="leader">
              <p>{{ tag.description|raw }}</p>
          </div>
        {% endif %}
    </section>
  #}

  {# { projects|shortcodes|raw } #}

  <section class="section-latest-news">
    <div class="ct-container">
      <h1>{{ tag.name|raw }}</h1>
      <div class="news-list">
        {% if ( related_posts ) %}
          {% for related_post in related_posts %}
            {% include "blocks/tease-related-post.twig" with {post:related_post} %}
          {% endfor %}
        {% endif %}
      </div>
      <h3><a href="{{ home_url }}/?s&f&f[tag]={{ tag.term_id }}#search_form_inner"> {{ strings.load_more }}  <span class="icon-chevron-right"></span></a></h3>
    </div>
  </section>

  {{ post.content|raw }}

{% endblock %}
